BYTEPLUS_API_KEY=
BYTEPLUS_BASE_URL=https://ark.ap-southeast.byteplus.com/api/v3
BYTEPLUS_MODEL_ID=dreamina-seedance-2-0-260128
BYTEPLUS_CREATE_TASK_PATH=/contents/generations/tasks
BYTEPLUS_RETRIEVE_TASK_PATH=/contents/generations/tasks/{task_id}
BYTEPLUS_LIST_TASKS_PATH=/contents/generations/tasks
BYTEPLUS_CANCEL_TASK_PATH=/contents/generations/tasks/{task_id}
