node_modules/
.venv/
.next/
out/
dist/
build/
.turbo/

.env
.env.*
.envkey
!.env.example

db/
*.db
*.sqlite
*.sqlite3
prisma/dev.db
prisma/*.db

.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.zip

cache/
server/
static/
trace
types/
*.tsbuildinfo
build-manifest.json
fallback-build-manifest.json
prerender-manifest.json
routes-manifest.json
